name: Update Fork List

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Fetch and Format Data
        run: |
          # Mengambil data dari API dan memprosesnya menjadi teks
          curl -s "https://api.github.com/repos/SteamAutoCracks/ManifestHub/forks?sort=pushed&per_page=5" \
          | jq -r '.[] | "Repo: \(.full_name)\nURL: \(.html_url)\nUpdate: \(.pushed_at)\n---"' \
          > latest_forks.txt

      - name: Debug Output
        run: cat latest_forks.txt

      - name: Commit and Push
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add latest_forks.txt
          if ! git diff --cached --quiet; then
            git commit -m "Update list: $(date)"
            git push origin main
          else
            echo "Tidak ada perubahan."
          fi
