name: Update Fork List

on:
  schedule:
    - cron: '0 0 * * *' # Berjalan otomatis setiap jam 12 malam
  workflow_dispatch:      # Memungkinkan Anda menjalankan manual dari tab Actions

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install requests

      - name: Run script
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: python fetch_forks.py

      - name: Commit and Push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add latest_forks.txt
          git commit -m "Update list fork terbaru" || exit 0
          git push
