name: Network Speedtest
on: [workflow_dispatch] # Bisa dijalankan manual

jobs:
  speedtest:
    runs-on: ubuntu-latest
    steps:
      - name: Install Speedtest CLI (Workaround for Noble)
        run: |
          # Install gpg jika belum ada
          sudo apt-get update && sudo apt-get install -y gnupg
          
          # Tambahkan key dan repo secara manual (menggunakan 'jammy' karena 'noble' belum tersedia)
          curl -L https://packagecloud.io/ookla/speedtest-cli/gpgkey | sudo gpg --dearmor -o /etc/apt/keyrings/ookla_speedtest-cli-archive-keyring.gpg
          echo "deb [signed-by=/etc/apt/keyrings/ookla_speedtest-cli-archive-keyring.gpg] https://packagecloud.io/ookla/speedtest-cli/ubuntu/ jammy main" | sudo tee /etc/apt/sources.list.d/ookla_speedtest-cli.list
          
          # Install
          sudo apt-get update
          sudo apt-get install -y speedtest
          
      - name: Run Speedtest
        run: speedtest --accept-license
