name: Update Steam UID List

on:
  schedule:
    - cron: '0 0 * * *' # Berjalan setiap hari jam 12 malam
  workflow_dispatch: # Memungkinkan kamu menjalankan manual dari tab Actions

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Memberi izin untuk push perubahan file ke repo

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: pip install requests

    - name: Run script
      run: python fetch_steam_uids.py

    - name: Commit and Push if changed
      run: |
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git add steam_uids.json
        git diff --quiet && git diff --staged --quiet || (git commit -m "Update Steam UID list: $(date)" && git push)
